[Misc]
Name=Addressee Serializer
Name[ca]=Serialitzador del destinatari
Name[en_GB]=Addressee Serialiser
Name[nb]=Adressatserialisator
Name[nl]=Serialisator voor geadresseerde
Name[nn]=Adressatserialisator
Name[pt]=Serialização de Endereços
Name[sv]=Adressatserialisering
Name[uk]=Серіалізатор адрес
Name[x-test]=xxAddressee Serializerxx
Comment=An Akonadi serializer plugin for addressee objects
Comment[ca]=Un connector de serialització de l'Akonadi per a objectes del destinatari
Comment[en_GB]=An Akonadi serialiser plugin for addressee objects
Comment[nb]=Et Akonadi programtillegg for serialisering av adressat-objekter
Comment[nl]=Een Akonadi serialisatorplug-in voor geadresseerde-objecten
Comment[nn]=Eit Akonadi-serialisatortillegg for adressatobjekt
Comment[pt]=Um 'plugin' de serialização do Akonadi de objectos de endereços
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av adressatobjekt
Comment[uk]=Додаток серіалізації Akonadi для об'єктів адресатів
Comment[x-test]=xxAn Akonadi serializer plugin for addressee objectsxx

[Plugin]
Type=text/vcard,text/directory
X-Akonadi-Class=legacy;default;KContacts::Addressee;
X-KDE-Library=akonadi_serializer_addressee
X-KDE-ClassName=Akonadi::SerializerPluginAddressee
