[Misc]
Name=Contact Group Serializer
Name[ca]=Serialitzador del grup de contacte
Name[ca@valencia]=Serialitzador del grup de contacte
Name[de]=Kontaktgruppen-Serialisierung
Name[en_GB]=Contact Group Serialiser
Name[es]=Serializador de grupo de contactos
Name[fr]=Sérialiseur de groupes de contacts
Name[gl]=Serializador de grupos de contractos
Name[it]=Serializzatore gruppi di contatti
Name[nb]=Kontaktgruppeserialisator
Name[nl]=Serialisator voor contactengroep
Name[nn]=Kontaktgruppeserialisator
Name[pl]=Szeregowanie grup kontaktów
Name[pt]=Serialização de Grupos de Contactos
Name[pt_BR]=Serializador de grupos de contatos
Name[sv]=Kontaktgruppserialisering
Name[uk]=Серіалізатор груп контактів
Name[x-test]=xxContact Group Serializerxx
Name[zh_CN]=联系人分组序列转换器
Name[zh_TW]=聯絡人群組序列器
Comment=An Akonadi serializer plugin for contact group objects
Comment[ca]=Un connector de serialització de l'Akonadi per a objectes del grup de contacte
Comment[ca@valencia]=Un connector de serialització de l'Akonadi per a objectes del grup de contacte
Comment[de]=Akonadi-Modul zur Serialisierung von Kontaktgruppen
Comment[en_GB]=An Akonadi serialiser plugin for contact group objects
Comment[es]=Un complemento serializador de Akonadi para objetos de grupo de contactos
Comment[fr]=Un module externe Akonadi pour la sérialisation des groupes de contacts
Comment[gl]=Un complemento de serialización do Akonadi para obxectos de grupos de contractos.
Comment[it]=Un'estensione di Akonadi per la serializzazione dei gruppi di contatti
Comment[nb]=Et Akonadi programtillegg for serialisering av kontaktgruppe-objekter
Comment[nl]=Een Akonadi serialisatorplug-in voor contactengroep-objecten
Comment[nn]=Eit Akonadi-serialisatortillegg for kontaktgruppeobjekt
Comment[pl]=Wtyczka Akonadi do szeregowania obiektów grup kontaktów
Comment[pt]=Um 'plugin' de serialização do Akonadi para os objectos de grupos de contactos
Comment[pt_BR]=Um plugin de serialização do Akonadi para os objetos de grupos de contatos
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av kontaktgruppobjekt
Comment[uk]=Додаток серіалізації Akonadi для об'єктів груп контактів
Comment[x-test]=xxAn Akonadi serializer plugin for contact group objectsxx
Comment[zh_CN]=对联系人分组对象进行序列转换的 Akonadi 插件
Comment[zh_TW]=適用於聯絡人群組物件的 Akonadi 序列器附加元件

[Plugin]
Type=application/x-vnd.kde.contactgroup
X-Akonadi-Class=legacy;default;KContacts::ContactGroup;
X-KDE-Library=akonadi_serializer_contactgroup
X-KDE-ClassName=Akonadi::SerializerPluginContactGroup
