[Misc]
Name=Addressee Serializer
Name[ar]=مُسلسِل العناوين
Name[az]=Əlaqələrin saxlanılması
Name[bg]=Сериализатор на адресати
Name[ca]=Serialitzador del destinatari
Name[ca@valencia]=Serialitzador del destinatari
Name[da]=Serieordning af adressater
Name[de]=Empfänger-Serialisierung
Name[el]=Πρόγραμμα γραμμικής διάταξης αποδέκτη
Name[en_GB]=Addressee Serialiser
Name[es]=Serializador de direcciones
Name[et]=Adressaatide jadasti
Name[eu]=Jasotzaileen serializatzailea
Name[fi]=Vastaanottajaserialisoija
Name[fr]=Sérialiseur de destinataires
Name[gl]=Serializador de destinatario
Name[hi]=प्रेषिती का अनुक्रमक
Name[hu]=Címsorosító
Name[ia]=Divulgator de destinatario
Name[it]=Serializzatore degli indirizzi
Name[ka]=მიმღების სერიალიზერი
Name[ko]=주소록 시리얼라이저
Name[nb]=Adressatserialisator
Name[nl]=Serialisator voor geadresseerde
Name[nn]=Adressatserialisator
Name[pl]=Szeregowanie adresatów
Name[pt]=Serialização de Endereços
Name[pt_BR]=Serializador de destinatários
Name[ru]=Сохранение контактов
Name[sk]=Serializátor adresátov
Name[sl]=Orodje za razvrščanje v zaporedje naslovov
Name[sq]=Serializuesi i adresës së pranuesit
Name[sv]=Adressatserialisering
Name[tr]=Adressee Sıralandırıcı
Name[uk]=Серіалізатор адрес
Name[x-test]=xxAddressee Serializerxx
Name[zh_CN]=收信人序列转换器
Name[zh_TW]=收件人序列器
Comment=An Akonadi serializer plugin for addressee objects
Comment[ar]=ملحقة سَلسَلة «أكونادي» لكائنات العناوين
Comment[az]=Akonadi üçün əlaqələrinların saxlanılması modulu
Comment[bg]=Програма на Akonadi за сериализация на обекти за адресати
Comment[ca]=Un connector de serialització de l'Akonadi per a objectes del destinatari
Comment[ca@valencia]=Un connector de serialització d'Akonadi per a objectes del destinatari
Comment[da]=Et Akonadi-plugin til serieordning af adressatobjekter
Comment[de]=Akonadi-Modul zur Serialisierung von Adressobjekten
Comment[el]=Ένα πρόσθετο γραμμικής διάταξης του Akonadi για αντικείμενα αποδεκτών
Comment[en_GB]=An Akonadi serialiser plugin for addressee objects
Comment[es]=Un complemento serializador de Akonadi para direccionar objetos
Comment[et]=Akonadi adessaatide jadastamisplugin
Comment[eu]=Jasotzaile objektuen Akonadi-ren plugin serializatzaile bat
Comment[fi]=Akonadin serialisointiliitännäinen vastaanottajaolioille
Comment[fr]=Un module externe Akonadi pour la sérialisation des destinataires
Comment[gl]=Un complemento de serialización de Akonadi para obxectos de destinatario.
Comment[hi]=प्रेषितों के वस्तुओं के लिए एक एकोनाडी अनुक्रमक प्लगिन
Comment[hu]=Akonadi sorosító bővítmény a címobjektumokhoz
Comment[ia]=Un plugin pro divulgar (serialize) de Akonadi pro objectos de destinatarios
Comment[it]=Un'estensione di Akonadi per la serializzazione degli indirizzi
Comment[ka]=Akonadi-ის სერიალიზერის დამატება მიმღების მისამართის ობიექტებისთვის
Comment[ko]=주소 객체 시리얼라이저 플러그인
Comment[nb]=Et Akonadi programtillegg for serialisering av adressat-objekter
Comment[nl]=Een Akonadi serialisatorplug-in voor geadresseerde-objecten
Comment[nn]=Eit Akonadi-serialisatortillegg for adressatobjekt
Comment[pl]=Wtyczka Akonadi do szeregowania obiektów adresata
Comment[pt]=Um 'plugin' de serialização do Akonadi de objectos de endereços
Comment[pt_BR]=Um plugin de serialização do Akonadi para os objetos dos destinatários
Comment[ru]=Модуль сохранения контактов для Akonadi
Comment[sk]=Doplnok serializátora Akonadi pre objekty adresáta
Comment[sl]=Akonadijev vstavek za razvrščanje naslovnih predmetov v zaporedje
Comment[sq]=Një shtojcë e Akonadit për serializimin objekteve të adresësave së pranuesit
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av adressatobjekt
Comment[tr]=Adressee nesneleri için bir Akonadi sıralandırıcı eklentisi
Comment[uk]=Додаток серіалізації Akonadi для об'єктів адресатів
Comment[x-test]=xxAn Akonadi serializer plugin for addressee objectsxx
Comment[zh_CN]=对收信人对象进行序列转换的 Akonadi 插件
Comment[zh_TW]=適用於收件人物件的 Akonadi 序列器附加元件

[Plugin]
Type=text/vcard,text/directory
X-Akonadi-Class=legacy;default;KContacts::Addressee;
X-KDE-Library=akonadi_serializer_addressee
X-KDE-ClassName=Akonadi::SerializerPluginAddressee
