[Plugin]
Type=application/x-vnd.kde.contactgroup
X-Akonadi-Class=legacy;default;KContacts::ContactGroup;
X-KDE-Library=akonadi_serializer_contactgroup
X-KDE-ClassName=Akonadi::SerializerPluginContactGroup
