[Misc]
Name=Addressee Serializer
Comment=An Akonadi serializer plugin for addressee objects

[Plugin]
Type=text/vcard,text/directory
X-Akonadi-Class=legacy;default;KContacts::Addressee;
X-KDE-Library=akonadi_serializer_addressee
X-KDE-ClassName=Akonadi::SerializerPluginAddressee
