[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KContacts/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/qq
Comment=Tencent QQ Messaging
Comment[ca]=Missatgeria Tencent QQ
Comment[ca@valencia]=Missatgeria Tencent QQ
Comment[gl]=Mensaxaría de Tencent QQ
Comment[it]=Messaggistica Tencent QQ
Comment[nl]=Tencent QQ-messaging
Comment[pl]=Wiadomości Tencent QQ
Comment[sv]=Tencent QQ-meddelandeklient
Comment[uk]=Обмін повідомленнями Tencent QQ
Comment[x-test]=xxTencent QQ Messagingxx
Name=QQ
Name[ca]=QQ
Name[ca@valencia]=QQ
Name[gl]=QQ
Name[it]=QQ
Name[nl]=QQ
Name[pl]=QQ
Name[pt]=QQ
Name[sv]=QQ
Name[uk]=QQ
Name[x-test]=xxQQxx

