[Desktop Entry]
Type=Service
Icon=facebook_protocol
X-KDE-ServiceTypes=KContacts/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKContactField=facebook
X-KDE-InstantMessagingKABCField=messaging/facebook
Comment=Facebook Protocol
Name=Facebook

