[Desktop Entry]
Type=Service
Icon=facebook_protocol
X-KDE-ServiceTypes=KContacts/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKContactField=facebook
X-KDE-InstantMessagingKABCField=messaging/facebook
Comment=Facebook Protocol
Comment[ca]=Protocol Facebook
Comment[gl]=Protocolo de Facebook
Comment[nl]=Facebook-protocol
Comment[pl]=Protokół Facebooka
Comment[pt]=Protocolo do Facebook
Comment[pt_BR]=Protocolo do Facebook
Comment[ru]=Протокол Facebook
Comment[sk]=Protokol Facebook
Comment[sv]=Facebook-protokoll
Comment[x-test]=xxFacebook Protocolxx
Name=Facebook
Name[ca]=Facebook
Name[gl]=Facebook
Name[nl]=Facebook
Name[pl]=Facebook
Name[pt]=Facebook
Name[pt_BR]=Facebook
Name[ru]=Facebook
Name[sk]=Facebook
Name[sv]=Facebook
Name[x-test]=xxFacebookxx

