[Desktop Entry]
Type=Service
Icon=twitter_protocol
X-KDE-ServiceTypes=KContacts/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKContactField=twitter
X-KDE-InstantMessagingKABCField=messaging/twitter
Comment=Twitter Protocol
Comment[ca]=Protocol Twitter
Comment[gl]=Protocolo de Twitter
Comment[nl]=Twitter-protocol
Comment[pl]=Protokół Twittera
Comment[pt]=Protocolo do Twitter
Comment[pt_BR]=Protocolo do Twitter
Comment[sk]=Protokol Twitter
Comment[sv]=Twitter-protokoll
Comment[x-test]=xxTwitter Protocolxx
Name=Twitter
Name[ca]=Twitter
Name[gl]=Twitter
Name[nl]=Twitter
Name[pl]=Twitter
Name[pt]=Twitter
Name[pt_BR]=Twitter
Name[sk]=Twitter
Name[sv]=Twitter
Name[x-test]=xxTwitterxx

