[Desktop Entry]
Type=Service
Icon=im-facebook
X-KDE-ServiceTypes=KContacts/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKContactField=facebook
X-KDE-InstantMessagingKABCField=messaging/facebook
Comment=Facebook Protocol
Comment[ast]=Protocolu Facebook
Comment[ca]=Protocol Facebook
Comment[ca@valencia]=Protocol Facebook
Comment[cs]=Protokol Facebook
Comment[da]=Facebook-protokol
Comment[de]=Facebook-Protokoll
Comment[en_GB]=Facebook Protocol
Comment[es]=Protocolo Facebook
Comment[et]=Facebooki protokoll
Comment[fi]=Facebook-yhteyskäytäntö
Comment[gl]=Protocolo de Facebook
Comment[it]=Protocollo di Facebook
Comment[ko]=Facebook 프로토콜
Comment[nl]=Facebook-protocol
Comment[pl]=Protokół Facebooka
Comment[pt]=Protocolo do Facebook
Comment[pt_BR]=Protocolo do Facebook
Comment[ru]=Протокол Facebook
Comment[sk]=Protokol Facebook
Comment[sl]=Protokol Facebook
Comment[sr]=Протокол Фејсбука
Comment[sr@ijekavian]=Протокол Фејсбука
Comment[sr@ijekavianlatin]=Protokol Facebooka
Comment[sr@latin]=Protokol Facebooka
Comment[sv]=Facebook-protokoll
Comment[tr]=Facebook Protokolü
Comment[uk]=Протокол Facebook
Comment[x-test]=xxFacebook Protocolxx
Comment[zh_CN]=Facebook 协议
Name=Facebook
Name[ast]=Facebook
Name[ca]=Facebook
Name[ca@valencia]=Facebook
Name[cs]=Facebook
Name[da]=Facebook
Name[de]=Facebook
Name[en_GB]=Facebook
Name[es]=Facebook
Name[et]=Facebook
Name[fi]=Facebook
Name[gl]=Facebook
Name[it]=Facebook
Name[ko]=Facebook
Name[nl]=Facebook
Name[nn]=Facebook
Name[pl]=Facebook
Name[pt]=Facebook
Name[pt_BR]=Facebook
Name[ru]=Facebook
Name[sk]=Facebook
Name[sl]=Facebook
Name[sr]=Фејсбук
Name[sr@ijekavian]=Фејсбук
Name[sr@ijekavianlatin]=Facebook
Name[sr@latin]=Facebook
Name[sv]=Facebook
Name[tr]=Facebook
Name[uk]=Facebook
Name[x-test]=xxFacebookxx
Name[zh_CN]=Facebook

